# ==========================================================
# Git
# ==========================================================
.git
.gitignore
# ==========================================================
# IntelliJ IDEA
# ==========================================================
.idea
**/.idea
*.iml
**/*.iml
# ==========================================================
# macOS
# ==========================================================
.DS_Store
# ==========================================================
# Logs
# ==========================================================
*.log
logs/
# ==========================================================
# Documentation
# ==========================================================
docs/
postman/
# ==========================================================
# Build caches
# ==========================================================
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
# ==========================================================
# Temporary files
# ==========================================================
*.tmp
*.swp